@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    background-color: rgba(9, 5, 252, 0.041);
}

/* sheared styles */
.dark-1{
   color: rgba(19, 19, 19, 1);
}
.dark-2{
   color: rgba(66, 66, 66, 1);
}
.dark-3{
   color: rgba(114, 114, 114, 1);
}
.orange{
    color: rgba(255, 144, 14, 1);
}
.medium{
    font-weight: 500;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 45px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
.description{
    font-size: 16px;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
}
.pri-btn{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 24px;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}
main, footer{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.hide{
    display: none;
}
.content-info{
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
}

/* Header styles */
.header{
    background-color: rgba(199, 136, 65, 0.1);
}

/* Navbar styles */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.nav-menu{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}
.brand-link{
    text-decoration: none;
}

/* Banner styles */
.heading{
    font-size: 4rem;
    font-weight: bold;
}
.banner-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-image img{
    width: 100%;
}

/* Team styles */
.team{
    align-items: center;
    gap: 73px;
    padding: 0 60px;
    
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content{
    max-width: 535px;
}

/* Features section styles */
.feature-area .title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.feature-title{
    font-size: 20px;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
}

.feature-area{
    display: flex;
    gap: 54px;
}

.features-card{
    margin: 30px 0;
    padding: 30px;
}

/* Some Facts section styles */
.facts-title{
    font-weight: 600;
    margin: 10px 0 0 0;
}
.facts-info{
    font-size: 1.25rem;
    font-weight: 600;
}
.card-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding: 0 60px;
}
.facts-card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 50px 0;
    box-shadow: 2px 2px 5px rgba(255, 143, 14, 0.4), -2px -2px 5px rgba(255, 143, 14, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sponsor related styles */
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    gap: 50px;
    justify-items: center;
}

/* Footer related styles */
.footer-content{
    background-color: #FFF4E7;
    text-align: center;
    padding: 38px;
    margin: 130px 0;
}
.footer-text{
    font-size: 20px;
}


/* Small size device Media Query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-menu,
    .team{
        flex-direction: column;
    }
    .team{
        padding: 0 10px;
        gap: 0;
    }
    .team-image,
    .card-area,
    .sponsor-companies{
        grid-template-columns: 1fr;
    }
    .team-content{
        margin: 0 20px;
    }

    .card-area{
        gap: 20px;
        padding: 0 30px;
    }
}

/* Medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }

    .team-content{
        margin: 0 auto;
    }

    .card-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
    }
}